@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: url(./assets/fondo-juego.jpg) no-repeat center center fixed;
    background-size: cover;
}

#SeleccionarMascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: gold;
    width: 220px;
    height: 50px;
    text-align: center;
}

.subtitulo {
    color: gold;
}

.tarjetas, .tarjetas-ataque {
    display: flex;
}

.tarjeta-de-elemental {
    width: 150px;
    height: 150px;
    background-color: #FAE002;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.tarjetas img {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 135px;
    height: 100px;
}

#boton-seleccionar {
    width: 200px;
    height: 30px;
    background: red;
    margin: 5px;
    padding: 1px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #FAE002;
    font-family: "Playfair Display", serif;
}

p {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    display: none;
}

input:checked + label {
    background-color: rgb(215, 164, 11);
}

input:hover + label {
    background-color: aliceblue;
    background-size: 90%;
}

#SeleccionarAtaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    background-color: #FAE002;
    border-radius: 20px;
    margin: 10px;
    width: 70px;
    height: 35px;
}

#resultado {
    max-width: 200px;
    border-radius: 10px;
    background-color: #FAE002;
}

#informacion {
    width: 200px;
}

#SeleccionarAtaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAE002;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    margin: 20px;
}

#tarjeta-ataques-jugador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0px;
    border-right: 2px solid black;
}

#tarjeta-ataques-enemigo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texto-vidas-tarjeta, #mascota-jugador, #mascota-enemigo {
    width: 100px;
    border-bottom: 2px solid black;
}

#ataques-del-jugador p, #ataques-del-enemigo p {
    width: 90px;
    border: 2px solid black;
    border-radius: 20px;
}

#ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
    background-color: #FAE002;
    border: 2px solid black;
}

#canvas-juego {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa-juego {
    border: 2px solid black;
}

#flechas {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 1px;
  cursor: pointer;
  margin: 5px;
}

#b-arriba {
  grid-column: 2;
  grid-row: 1;
  width: 50px;
  height: 50px;
  background-color: yellow;
}

#b-abajo {
  grid-column: 2;
  grid-row: 2;
  width: 50px;
  height: 50px;
  background-color: yellow;
}

#b-izquierda {
  grid-column: 1;
  grid-row: 2;
  width: 50px;
  height: 50px;
  background-color: yellow;
}

#b-derecha {
  grid-column: 3;
  grid-row: 2;
  width: 50px;
  height: 50px;
  background-color: yellow;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataque {
        flex-direction: column;
    }
}